<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp - View All</title>
</head>

<body style="font-size:20px; padding:50px;">


<header>
  <% include ./partials/_header %>
</header>

<br>
<h4>My TinyURLs</h4>
<br>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">URL</th>
      <th scope="col">TinyURL</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  <% for (shortURL in urls) { %>
    <tr>
      <td>
        <a href="<%= urls[shortURL] %>"><%= urls[shortURL] %></a>
      </td>
      <td>
        <a href="http://localhost:3000/u/<%= shortURL %>"><%= shortURL %></a>
      </td>
      <td>
        <a class="btn btn-light" href="http://localhost:3000/urls/<%= shortURL %>" role="button">Edit</a>
      </td>
      <td>
        <form method="POST" action="/urls/<%=shortURL%>/delete">
        <button type="submit" class="btn btn-dark">Delete</button>
        </form>
      </td>
    </tr>
  <% }; %>
</table>

</body>

</html>
